

/* Guide related css */
a.guide.visited {
  padding-left: 20px;
  background: transparent url(images/accept.png) no-repeat left center;
}


a.guide {
  padding-left: 20px;
  background: transparent url(images/bullet_blue.png) no-repeat left center;
}
